.content{
    padding: 6px;
}

.content > mat-card {
    
    overflow-y: auto;   
}

.example-header-image-med{
    background-size: 200px;
    width: 300px;
    height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;

}

