<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmacia Internacional</title>
    <meta name="description" content="Farmacia Internacional  su farmacia latina con más de 50 años de dar servicio en el Distrito de la Mission en San Francisco.">



    
<style>

</style>





<body>
 
<hr>
            <h3>Perfumes - Caballeros</h3>
            <hr>
          



            <!-- <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide1.png">
                    <img src="assets/img/slide1.png" alt="Cinque Terre" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
              
              
              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide1.png">
                    <img src="assets/img/slide1.png" alt="Forest" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
              
              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide1.png">
                    <img src="assets/img/slide1.png" alt="Northern Lights" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
              
              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide1.png">
                    <img src="assets/img/slide1.png" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
              
              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide2.jpg">
                    <img src="assets/img/slide2.jpg" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>

              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide2.jpg">
                    <img src="assets/img/slide2.jpg" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>

              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide2.jpg">
                    <img src="assets/img/slide2.jpg" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>

              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide2.jpg">
                    <img src="assets/img/slide2.jpg" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>

              <div class="clearfix"></div>
               -->

               <div class="grid-list-and-cards-with-paginator">
                 <app-perfumes-men-grid> </app-perfumes-men-grid> 
              </div>
              <hr>
              <h2 style="font-family:'Times New Roman', Times, serif;">
                Visitamos en: <br> <a href="https://www.google.com/maps/place/2469+Mission+St,+San+Francisco,+CA+94110/@37.7576093,-122.4209799,17z/data=!3m1!4b1!4m5!3m4!1s0x808f7e3eac3c712b:0xc381c3c0ff64586d!8m2!3d37.7576051!4d-122.4187859" style="font-family:verdana;">2469 Mission Street, San Francisco, CA 94110</a> 
                <br> Horas: Luines-Viernes: 10 A.M.-6 P.M. | Sabado: 11 A.M.-6 P.M. | Domingo: 12 A.M.-5 P.M. <br> Telefono: +1 (415) 824-7715 <br> Correo Electronico: nomayca@aol.com
                </h2>
                
          

</body>




</html>