
nav ul {
    list-style-type: square;
    list-style: circle; 
    padding: 1;
    margin: 1;
 /*   background: rgb(123, 255, 255); */
    border-radius: 10px;

  

    
}    
nav li {
    display: inline-block;
    border:mediumturquoise;
    border-width: 4px 4px 2px 4px;
    margin: 2px 2px 2px 2px;

}    
nav li a{
    padding: 100px 100px;
    font: 0.8em arial, helvetica, sans-serif;
    border:yellow;
    border-width: 10px 4px 10px 4px;
    margin: 4px 4px 4px 4px;
    font-size: large;
    column-span: all;
    
}
#content {
    border: 2px solid;
}
#selected {
    padding-bottom: 2px;
    background:mintcream;
}

 /*body {
   background-color:white; 
    }*/

    
h1 {
    color: rgb(20, 141, 20);
    font-style: initial;
    font-size:75px;
    text-align: center;
    text-decoration: underline; 
    text-align:center;
 /*   background-color: white; */
    -webkit-text-stroke: 1px rgb(20, 141, 20);
    padding:auto;
    }

h2{
    color: black;
    font-style: initial;
    font-size:20px;
 /*   background-color: white; */
    padding-left: 250px;
    padding-right:250px;
    padding:auto;
    text-align:center;
    }

h3{
    color: black;
    font-style: italic;
    font-size:35px;
  /*  background-color: lawngreen; */
    background-size: auto;
    text-align:center;
    -webkit-text-stroke: 0.1px blue;
    padding:auto;
    /* box-shadow: white; */
    }

.WOO {  

/* Set a specific height */


  padding: auto;
  padding-left: 26%;
  padding-right: auto;
  position: center;

}

img {   max-width: 70%;
  height: auto; }
p {
    color: black;
    font-style:unset;
    font-size:40px;
    font-variant: normal;
    font-stretch: wider;
  padding: auto;
  padding-left: 70px;
  text-align: center;
  text-decoration:blue;
  font: x-large;
  line-height: 1;
  text-decoration:blue;
  display: block;
  word-spacing: 5px;
  overflow-wrap: normal;
}

/* Created Border Around Pages Tabs*/
a:link, a:visited {
  
  color: black;
  padding: 5px ;
  border-spacing: auto;
  text-align:center;
  text-decoration: none;
  display:inline-table;
  font-style:initial;
  inline-size: 200px;
  font-family: Arial;
 /* box-shadow: 5px 2px 2px deepskyblue; */


}
/* When Tabs Have Mouse Over It, Will Get Underlined, as well as show a white highlight circle when hovered above  */
    a:hover, a:active{text-decoration:underline ; width: 200px;
  height: auto;
  background: white;
  transition: all 1s;
  border-radius: 20px;}
    // #a {transition-timing-function: linear; }
/* This will allow the image scrolling or parallax scrolling effect occur*/
// .parallax {
//   /* The image used */
//   background-image: url("GOLDEN_GATE_MAARTEN_VAN_DEN_HEUVEL.jpg");

//   /* Set a specific height */
//   min-height: 600px;
//   min-width: auto;
//   image-orientation: auto;
// background-attachment:fixed;
// background-position: inherit;
// background-repeat:no-repeat;
// background-size: cover;

// }

hr {color:greenyellow;inline-size: auto; min-inline-size: auto; }

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  padding-left: 35px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: auto;
  padding: auto;
  padding-left: auto;
  padding-right: auto;
  position: center;
}

@media screen and (max-width: auto) {
  .column {
    width: 100%;} 
}

li {padding-left: 25px;padding-right: 25px; padding:3.5px}
/* This is changing the background color in gradients */
.css-selector {
    background: linear-gradient(186deg, #86c53e, #3fe6d9, #3cd92b, #f5fff4);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@keyframes AnimationName {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}