<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmacia Internacional</title>
    <meta name="description" content="Farmacia Internacional  su farmacia latina con más de 50 años de dar servicio en el Distrito de la Mission en San Francisco.">



    
<style>

</style>



<body class="css-selector">
                <!-- IMAGE BRAND-->  
                <div class="WOO"><img src="LAINTERNACIONAL_2.jpg" alt="Business:La Internacional" min-width="400" height="200" style="position:center" class="center"></div> <br>
    
            
            <!--<h1 style="font-family:'Times New Roman', Times, serif;">Farmacia Internacional</h1>-->

    <header >
        
        <nav>
            <ul>
                <li><a href="PHARMCIA.html" style="font-family:verdana;"  >Pagina Inicial</a></li>
                <li><a href="Acerca.html"style="font-family:verdana;">Acerca</a></li> 
                <li><a href="Perfumes.html"style="font-family:verdana;" >Perfumes</a></li>     
                <li><a href="Medicinas.html"style="font-family:verdana;" >Medicinas</a></li>
                <li><a href="Hierbas.html" style="font-family:verdana;">Hierbas</a></li>
                <li><a href="Fajas y Dietas.html"style="font-family:verdana;" >Fajas y Dietas</a></li>
                <li><a href="Miscelanos.html"style="font-family:verdana;" >Incinso y Articulos Religiosos</a></li>
                <li><a href="Contactenos.html"style="font-family:verdana;" >Contactenos</a></li>       
                </ul>
        </nav>
    </header>  

    <div class="row">
        <div class="column">
    <img src="flag1.jpg" alt="Product Display" width="71" height="44" style="position: relative" class="center">
        </div>
         <div class="column">
    <img src="flag2.jpg" alt="Product Display" width="71" height="44"style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="flag3.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="flag4.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="flag5.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="flag6.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="flag7.jpg" alt="Product Display" width="71" height="44" style="align-content: initial"class="center">
        </div>
        <div class="column">
    <img src="flag8.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column"> 
    <img src="flag9.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="flag10.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="flag11.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="flag12.jpg" alt="Product Display" width="71" height="44" style="-ms-grid-row-align: end">
        </div>
</div>


    <hr>
    
            <h3>Bienvenidos a su Farmacia Latina</h3>
            <hr>
          
            

             <!-- About Section -->            
        <p class="description" style="padding-right: 100px;"> Farmacia Internacional, su farmacia latina con más de 50 años de dar servicio <br> en el Distrito de la Mission en San Francisco </p>   
        <hr>
            
            <h2 style="font-family:'Times New Roman', Times, serif;">
                Visitamos en: <br> <a1 href="https://www.google.com/maps/place/2469+Mission+St,+San+Francisco,+CA+94110/@37.7576093,-122.4209799,17z/data=!3m1!4b1!4m5!3m4!1s0x808f7e3eac3c712b:0xc381c3c0ff64586d!8m2!3d37.7576051!4d-122.4187859" style="font-family:verdana;">2469 Mission Street, San Francisco, CA 94110</a1> 
                <br> Horas: Luines-Viernes: 10 A.M.-6 P.M. | Sabado: 11 A.M.-6 P.M. | Domingo: 12 A.M.-5 P.M. <br> Telefono: +1 (415) 824-7715 <br> Correo Electronico: nomayca@aol.com
                </h2>
          
               
</body>







</html>
