<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmacia Internacional</title>
    <meta name="description" content="Farmacia Internacional  su farmacia latina con más de 50 años de dar servicio en el Distrito de la Mission en San Francisco.">



    
<style>

</style>





<body>
                <!-- Title of Business -->  
                <div class="WOO"><img src="assets/img/LAINTERNACIONAL_2.jpg" alt="Business:La Internacional" min-width="400" height="200" style="position:center" class="center"></div> <br>
                <h1 style="font-family:'Times New Roman', Times, serif;">Farmacia Internacional</h1>
    
    <header >
        <nav>
            <ul>
                <li><a href="PHARMCIA.html" style="font-family:verdana;"  >Pagina Inicial</a></li>
                <li><a href="Acerca.html"style="font-family:verdana;">Acerca</a></li> 
                <li><a href="Perfumes.html"style="font-family:verdana;" >Perfumes</a></li>     
                <li><a href="Medicinas.html"style="font-family:verdana;" >Medicinas</a></li>
                <li><a href="Hierbas.html" style="font-family:verdana;">Hierbas</a></li>
                <li><a href="Fajas y Dietas.html"style="font-family:verdana;" >Fajas y Dietas</a></li>
                <li><a href="Miscelanos.html"style="font-family:verdana;" >Incinso y Articulos Religiosos</a></li>
                <li><a href="Contactenos.html"style="font-family:verdana;" >Contactenos</a></li>       
                </ul>
        </nav>
    </header>  

    <div class="row">
        <div class="column">
    <img src="assets/img/flag1.jpg" alt="Product Display" width="71" height="44" style="position: relative" class="center">
        </div>
         <div class="column">
    <img src="assets/img/flag2.jpg" alt="Product Display" width="71" height="44"style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag3.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag4.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag5.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag6.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag7.jpg" alt="Product Display" width="71" height="44" style="align-content: initial"class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag8.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column"> 
    <img src="assets/img/flag9.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag10.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag11.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag12.jpg" alt="Product Display" width="71" height="44" style="-ms-grid-row-align: end">
        </div>
</div>

<hr>
            <h3>Hierbas</h3>
            <hr>
          



            <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide1.png">
                    <img src="assets/img/slide1.png" alt="Cinque Terre" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
              
              
              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide1.png">
                    <img src="assets/img/slide1.png" alt="Forest" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
              
              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide1.png">
                    <img src="assets/img/slide1.png" alt="Northern Lights" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
              
              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide1.png">
                    <img src="assets/img/slide1.png" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
              
              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide2.jpg">
                    <img src="assets/img/slide2.jpg" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>

              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide2.jpg">
                    <img src="assets/img/slide2.jpg" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>

              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide2.jpg">
                    <img src="assets/img/slide2.jpg" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>

              <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="slide2.jpg">
                    <img src="assets/img/slide2.jpg" alt="Mountains" width="600" height="600">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>

              <div class="clearfix"></div>
              
              <hr>
              <h2 style="font-family:'Times New Roman', Times, serif;">
                Visitamos en: <br> <a href="https://www.google.com/maps/place/2469+Mission+St,+San+Francisco,+CA+94110/@37.7576093,-122.4209799,17z/data=!3m1!4b1!4m5!3m4!1s0x808f7e3eac3c712b:0xc381c3c0ff64586d!8m2!3d37.7576051!4d-122.4187859" style="font-family:verdana;">2469 Mission Street, San Francisco, CA 94110</a> 
                <br> Horas: Luines-Viernes: 10 A.M.-6 P.M. | Sabado: 11 A.M.-6 P.M. | Domingo: 12 A.M.-5 P.M. <br> Telefono: +1 (415) 824-7715 <br> Correo Electronico: nomayca@aol.com
                </h2>
          
</body>




</html>