h3 {
    color: blue;
    font-style: initial;
    font-size:45px;
    background-color: transparent;
    padding-left: 250px;
    padding-right:250px;
    padding:auto;
    text-align:center;
    overflow-wrap: break-word;
  }