.content{
    padding: 6px;
}

.content > mat-card {
    
    overflow-y: auto;   
}

.example-header-image-med{
    background-size: 200px;
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 80%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 400x;
    overflow: auto;
    display: flex;
    flex-direction: column;

}