
<!DOCTYPE html>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmacia Internacional</title>
    <meta name="description" content="Farmacia Internacional  su farmacia latina con más de 50 años de dar servicio en el Distrito de la Mission en San Francisco.">


<body>
                    <!-- Title of Business -->  
                    <div class="WOO"><img src="assets/img/LAINTERNACIONAL_2.jpg" alt="Business:La Internacional" min-width="300" height="200" style="position:center" class="center"></div> <br>
                    
                    

    <header>
        <nav>
            <!--Have to make the links go to the different html pages.-->
            <ul>
                <li><a routerLink="pharmacia"style="font-family:verdana;"  >Pagina Inicial</a></li>
                <li><a routerLink="acerca"style="font-family:verdana;">Acerca</a></li> 
                <li><a routerLink="perfumes"style="font-family:verdana;" >Perfumes</a></li>     
                <li><a routerLink="medicinas"style="font-family:verdana;" >Medicinas</a></li>
                <li><a routerLink="hierbas" style="font-family:verdana;">Hierbas</a></li>
                <li><a routerLink="fajas-y-dietas"style="font-family:verdana;" >Fajas y Dietas</a></li>   
                </ul>
        </nav>
    </header>  

    <div class="row">
        <div class="column">
    <img src="assets/img/flag1.jpg" alt="Product Display" width="71" height="44" style="position: relative" class="center">
        </div>
         <div class="column">
    <img src="assets/img/flag2.jpg" alt="Product Display" width="71" height="44"style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag3.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag4.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag5.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag6.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag7.jpg" alt="Product Display" width="71" height="44" style="align-content: initial"class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag8.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column"> 
    <img src="assets/img/flag9.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag10.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag11.jpg" alt="Product Display" width="71" height="44" style="align-content: initial" class="center">
        </div>
        <div class="column">
    <img src="assets/img/flag12.jpg" alt="Product Display" width="71" height="44" style="-ms-grid-row-align: end">
        </div>
    </div>

    <section>
        <br>
        <router-outlet></router-outlet>
        <br>
    </section>

</body>




