<section>
        <div>
                <app-acerca-carousel></app-acerca-carousel>
        </div>
</section>
<body>



        <div>
            <!-- Title of Business -->  
            <hr>
            <h3 style="font-family:'Times New Roman', Times, serif;">Sobre Nuestra Farmacia</h3>
            <hr>
        </div>

     <div>

             <!-- About Section -->            
          <h3 class = "something"> Farmacia Internacional, su farmacia latina con más de 50 años de dar servicio en el Distrito de la Mission en San Francisco les ofrece una amplia gama de productos y  muchos de estos de marcas reconocidas en Latinoamérica como  Neurobion, Vital Fuerte, Sukrol, Extracto de Malta, pastillas McCoy, Rábano Yodado, entre otra gran variedad de vitaminas y suplementos vitamínicos para niños y adultos. <br>
    
               Ofrecemos también Agua Florida, Tricofero de Barry, colonia Mennen y muchos productos más.
               Disponemos de más de 120 productos naturales tanto en hierbas como cápsulas, así como gran variedad de aceites esenciales de diferentes usos: para la piel, el cabello, medicinales y aromáticos. También somos distribuidores de marcas naturales reconocidas como Nature Sunshine. <br>
            
               Ofrecemos también una extensa variedad de perfumes de marcas tradicionales y modernas como: Pino Silvestre, Agua Brava, Gucci, Versace, Armani y Dolce & Gabbana. <br>

               Contamos también con productos de control de peso naturales, fajas reductoras de diferentes estilos para lucir bella al instante. Además les ofrecemos productos religiosos muy variados, inciensos de diferentes tipos y fragancias. <br>
            
               Nuestra misión es servir a nuestra comunidad y darle atención personal a sus problemas de salud. Visítenos
          </h3>   
  <  </div>
            <hr>
            
            <h2 style="font-family:'Times New Roman', Times, serif;">
                Visitamos en: <br> <a href="https://www.google.com/maps/place/2469+Mission+St,+San+Francisco,+CA+94110/@37.7576093,-122.4209799,17z/data=!3m1!4b1!4m5!3m4!1s0x808f7e3eac3c712b:0xc381c3c0ff64586d!8m2!3d37.7576051!4d-122.4187859" style="font-family:verdana;">2469 Mission Street, San Francisco, CA 94110</a> 
                <br> Horas: Luines-Viernes: 10 A.M.-6 P.M. | Sabado: 11 A.M.-6 P.M. | Domingo: 12 A.M.-5 P.M. <br> Telefono: +1 (415) 824-7715 <br> Correo Electronico: nomayca@aol.com
                </h2>
           
</body>
