.content{
    padding: 16px;
}

.content > mat-card {
    overflow-y: auto;   
}

.example-header-image-med{
    margin-bottom: 30px;
    background-size: 200px;
    width: 300px;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;

}

.mat-elevation-z4 img{
    width: 100%;
    height: auto;
}